.materialimage{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    border: 2px;
    border-style: solid;
    background-color: aliceblue;
    background-image: ;
    display: inline-block;
    margin-right: 20px;
}
.materials-contents{
    display: inline;
}