* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:sans-serif;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    z-index: 9;
}

/* .title{
    font-family:sans-serif;
    color: #373629;
    display: flex;
    display: inline;
    position: relative;
    bottom: 20px;
    z-index: -1;
    width: 100vw;
    background-color: #373629;
}

.container {
    margin-top: 50px;
} */

h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.box-container div {
    position: relative;
    width: 350px;
    height: 300px;
    background-color: #3498db;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
}

.box-container div:hover {
    transform: scale(1.05);
}

.box-container div h3, .box-container div a {
    margin: 0;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s;
    z-index: 2;
}

.box-container div .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
    text-align: center;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 350px;
    max-height: 300px;
}

.box-container div:hover h3,
.box-container div:hover a {
    opacity: 0;
}

.box-container div:hover .description {
    opacity: 1;
    gap: 0px;
    filter: brightness(100%);
}

.PINEWOOD {
    background-image: url(/Images/Pinewood.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.PINEWOOD:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
    filter: brightness(50%);
}

.TEXTILES {
    background-image: url(/Images/Textile.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.TEXTILES:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
}

.RUBBER {
    background-image: url(/Images/Rubber.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.RUBBER:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
}

.RUBBER {
    background-image: url(/Images/Rubber.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.RUBBER:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
}

.BAMBOO {
    background-image: url(/Images/Bamboo.png); 
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.BAMBOO:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
}

.CORK {
    background-image: url(/Images/Cork.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.CORK:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
}

.CLAY {
    background-image: url(/Images/Clay.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.CLAY:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
}

.CARDBOARD {
    background-image: url(/Images/Cardboard.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.CARDBOARD:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
}

.BASSWOOD {
    background-image: url(/Images/Basswood.png);
    background-size: cover;
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
    border: 0px solid rgb(0, 0, 0);
}

.BASSWOOD:hover {
    transform: scale(1.2);
    border: 2px solid #6d6a39;
}

a{
    text-decoration: none;
    color: white;
}

#background{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -3;
    transform: translate(-50%, -50%);
    object-fit: scale-down; /* Ensures the video covers the full area */
}

.navbar {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    text-align: right;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 70px;
    margin-top: 30px;
    justify-content: space-between;
    transition: 0.5s ease;
    position: sticky;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.navbar:hover{
    background-color:#f2f2f0 ;
}
.ParaImage{
    display: flex; 
    height: 50px;
    gap: 30px;
    display: flex;
    
}
.contact-pics{
    display: flex;
    align-items: center;
    color: #000;
}
.footermage{
    display: flex;
    justify-content: center;
    width: 200px;
}